.navbar {
  width: 100%;
  height: 10vh;
  background-color: #2a3f59;
  padding: 0.5rem 1rem;

  @media only screen and (max-width: 1200px) {
    min-height: 68px;
    max-width: 1200px;
  }

  &__container {
    max-width: 1150px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 100%;
      width: auto;

      @media only screen and (max-width: 1200px) {
        width: 250px;
        height: auto;
      }

      @media only screen and (max-width: 7680px) {
        width: 200px;
        height: auto;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    .links {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and (max-width: 1000px) {
        width: 40%;
      }

      @media only screen and (max-width: 900px) {
        width: 50%;
      }

      .signedOut {
        width: 100%;
        justify-content: flex-end;
      }
    }

    ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;

      li a {
        font-size: 22px;
        margin: 0 7px;
        color: #aaa;
        text-decoration: none;
        transition: all 0.3s ease;

        @media only screen and (max-width: 768px) {
          font-size: 20px;
        }

        &.active {
          color: #fff;
        }

        &.thumbnail {
          height: 1.5rem;
          width: 1.5rem;
          padding: 0.7rem;
          border-radius: 50%;
          background-color: #465c77;

          &.active {
            background-color: #64778f;
          }
        }
      }

      li a:hover {
        color: #fff;
      }

      li a.thumbnail:hover {
        background-color: #64778f;
      }
    }
  }
}
