.dashboard {
  max-width: 1200px;
  width: 90%;
  min-height: calc(90vh - 4rem);
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media only screen and (orientation: landscape) and (max-width: 768px) {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }

  .classes-list {
    width: 80%;
    height: 100%;
    padding: 0 1rem;

    @media only screen and (max-width: 1000px) {
      width: 75%;
    }

    @media only screen and (max-width: 768px) {
      width: 65%;
    }

    @media only screen and (max-width: 480px) {
      padding: 0 0.5rem;
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
      grid-gap: 2rem;
      align-items: center;

      @media only screen and (max-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      }

      a {
        text-decoration: none;
      }

      .card {
        cursor: pointer;
        width: 100%;
        min-height: 12.5rem;
        height: 14rem;
        overflow: hidden;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: all 0.3s;

        @media only screen and (max-width: 480px) {
          min-height: 15rem;
        }

        &__header {
          color: #fff;
          padding: 0.7rem;
          background-color: #2e6947;

          .class-title {
            font-size: 22px;
            margin-bottom: 1rem;

            @media only screen and (max-width: 480px) {
              margin-bottom: 0.5rem;
            }
          }

          .professor {
            color: #ddd;
          }
        }

        &__body {
          padding: 0.7rem;
          color: #555;
          border-bottom: 1px solid #ccc;
        }

        &__date {
          color: #555;
          padding: 0.7rem;
        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .notifications {
    width: 20%;
    height: 100%;
    padding: 0 1rem;
    line-height: 1.4;

    @media only screen and (max-width: 1000px) {
      width: 25%;
    }

    @media only screen and (max-width: 768px) {
      width: 35%;
    }

    @media only screen and (max-width: 480px) {
      width: 45%;
      padding: 0 0.5rem;
    }

    &__container {
      padding: 0.7rem;
      max-height: 90%;
      border-radius: 10px;
      color: #fff;
      background-color: #2a3f59;

      &--title {
        text-align: center;
        font-size: 18px;
        margin-bottom: 1rem;
      }

      .notification {
        color: #aaa;
        margin-bottom: 0.7rem;

        p:first-of-type {
          color: #ddd;
        }
      }
    }
  }

  .add-btn {
    position: absolute;
    bottom: 0;
    right: 10%;
    transform: translateX(50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.3s;

    @media only screen and (max-width: 1000px) {
      right: 12.5%;
    }

    @media only screen and (max-width: 768px) {
      right: 17.5%;
    }

    @media only screen and (max-width: 480px) {
      right: 22.5%;
    }

    img {
      height: 100%;
      width: 100%;
    }

    &:hover {
      transform: translateX(50%) scale(1.1);
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    }

    &:active {
      transform: translateX(50%) scale(1.05) translateY(1px);
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
    }
  }
}
